
.search_content{
    background-color: rgb(181, 220, 255);
    min-height:100vh;

    margin-left: auto;
    padding-top: 100px;


}
.input_cont{
    width: 400px;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 10px 10px 20px gray;
}
.button_cont{
    width: 100px;
    height: 65px;
    border-radius: 5px;
    background-color: rgb(70, 150, 255);
    font-size: 18px;
    font-weight: 10px;
    box-shadow: 10px 10px 20px gray;
}
.button_cont:hover{
background-color:rgb(58, 119, 199) ;
color: rgb(207, 207, 207);
font-size: 20px;
font-weight: 20px;

}
.button_cont:hover{
    background-color:rgb(51, 105, 176) ;
}
.search_main_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
    /* align-content: center; */
}
.searched_cont{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 380px;
    line-height: 0px;
    align-items: center;
    /* flex-wrap: wrap; */
}
.forcast_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    padding-bottom: 100px;
}
.forcast_inner_content{
    background-color:  rgb(70, 150, 255);
    padding: 0 20px;
    border-radius: 10px;

}
.six_day_forcast{
    text-align: center;
    margin-bottom: 60px;
}